<div class="albumPlayer">
	
		<div class="top">
			<div class="list">
				<ul>
					<li><h4>no song</h4></li>
					{% for song in songs %}
					<li><h4>{{ song.title }}</h4></li>
					{% endfor %}
					<li><h4>no song</h4></li>
				</ul>
			</div>
			<div class="iconContainer">
				<button class="arrowButton upwards"></button>
			</div>
		</div>

		<div class="middle">
			<div class="list">
				<ul>
					<li><h4>no song</h4></li>
					{% for song in songs %}
					<li><h4>{{ song.title }}</h4></li>
					{% endfor %}
					<li><h4>no song</h4></li>
				</ul>
			</div>
			<div class="iconContainer"></div>
		</div>

		<div class="bottom">
			<div class="list">
				<ul>
					<li><h4>no song</h4></li>
					{% for song in songs %}
					<li><h4>{{ song.title }}</h4></li>
					{% endfor %}
					<li><h4>no song</h4></li>
				</ul>
			</div>
			<div class="iconContainer">
				<button class="arrowButton downwards"></button>
			</div>
		</div>
	
</div>