<div class="centerColumn">
	<ul>
		<li id="brief">
			{% include "_common/animatic-title" with {text: 'brief', fontSize: 30} %}
			<div class="outer">
				<p>{{ biography.brief }}</p>
			</div>
		</li>

		<li id="career">
			{% include "_common/animatic-title" with {text: 'career', fontSize: 30} %}
			<div class="outer">
				<p>{{ biography.career }}</p>
			</div>
		</li>

		<li id="press">
			{% include "_common/animatic-title" with {text: 'press', fontSize: 30} %}
			<div class="outer">
				<p>{{ biography.press }}</p>
			</div>
		</li>
	</ul>
</div>