{% set albumSlug = craft.request.getQuery('album') %}
{% set albumEntry = craft.entries.section('album').slug(albumSlug).find()[0] %}

{% set songSlug = craft.request.getQuery('song') %}
{% set songEntry = craft.entries.section('song').slug(songSlug).find()[0] %}

<div class="songDetailContainer">

	<h4>
		<span>{{ songEntry.year }}</span>
		{{ songEntry.title }}
	</h4>

	<div class="info section">
		<ul>
		{% if songEntry.instruments|length %}
			<li>
				<h5>instruments</h5>
				<p>
				{% for instrument in songEntry.instruments %}
					{{ instrument.name }}{{ loop.last ? "" : ", " }}
				{% endfor %}
				</p>
			</li>
		{% endif %}

		{% if songEntry.performers|length %}
			<li>
				<h5>performers</h5>
				<ul>
				{% for performer in songEntry.performers %}
					<li><p>{{ performer.role }} - {{ performer.name }}</p></li>
				{% endfor %}
				</ul>
			</li>
		{% endif %}

		{% if songEntry.duration|length %}
			<li>
				<h5>duration</h5>
				<p>{{ songEntry.duration }}</p>
			</li>
		{% endif %}
		</ul>

		<div class="description section">
			{% if songEntry.description|length %}
				{{ songEntry.description }}
			{% else %}
				<p>Description coming soon.</p>
			{% endif %}
		</div>
	</div>

	{% if songEntry.allowDownload == 'y' %}
	<div class="download section">
		<a href="{{ siteUrl }}{{ songEntry.audio[0].url }}" target="_blank">
			<h3>download</h3>
			<i></i>
		</a>
	</div>
	{% endif %}

	<div class="share section">
		<h3>share this song</h3>
		<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ meta.metaUrl }}share/album/{{ albumSlug }}/{{ songSlug }}" target="_blank" data-width=626 data-height=436></a>
		<a class="twitter" href="https://twitter.com/share?url={{ meta.metaUrl }}share/album/{{ albumSlug }}/{{ songSlug }}&text={{ songEntry.title | capitalize }}" target="_blank" data-width=550 data-height=420></a>
		<a class="googleplus" href="https://plus.google.com/share?url={{ meta.metaUrl }}share/album/{{ albumSlug }}/{{ songSlug }}" target="_blank" data-width=600 data-height=600></a>
	</div>

	{% if songEntry.suggestedSongs|length %}
	<div class="suggestedSongs section">
		<h3>you may also like</h3>
		<ul>
		{% for suggestedSong in songEntry.suggestedSongs %}
			<li>
				{# get album slug for each suggested song #}
				{% set suggestedAlbum = "" %}
				{% for album in craft.entries.section('album').find() %}
					{% for song in album.songs %}
						{% if song.slug == suggestedSong.slug %}
		            		{% set suggestedAlbum = album %}
		            	{% endif %}
		            {% endfor %}
		        {% endfor %}
				<a href="/album/{{ suggestedAlbum.slug }}/{{ suggestedSong.slug }}" target="_self">
					<div class="background" style="background-image: url({{ siteUrl }}{{ suggestedAlbum.cover[0].url }});"></div>
					<p>{{ suggestedSong.title }}</p>
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
	{% endif %}

</div>