{% set albumSlug = craft.request.getQuery('album') %}
{% set albumEntry = craft.entries.section('album').slug(albumSlug).find()[0] %}

{% set songSlug = craft.request.getQuery('song') %}
{% set songEntry = craft.entries.section('song').slug(songSlug).find()[0] %}

{% extends "_global" %}

{% block html %}

<div class="songDetailContainer">

	<h4>
		<span>{{ songEntry.year }}</span>
		{{ songEntry.title }}
	</h4>

	<div class="info section">
		<ul>
		{% if songEntry.instruments|length %}
			<li>
				<h5>{{ COPY['instruments'] }}</h5>
				<p>
				{% for instrument in songEntry.instruments %}
					{{ instrument.name }}{{ loop.last ? "" : ", " }}
				{% endfor %}
				</p>
			</li>
		{% endif %}

		{% if songEntry.performers|length %}
			<li>
				<h5>{{ COPY['performers'] }}</h5>
				<ul>
				{% for performer in songEntry.performers %}
					<li><p>{{ performer.role }} - {{ performer.name }}</p></li>
				{% endfor %}
				</ul>
			</li>
		{% endif %}

		{% if songEntry.duration|length %}
			<li>
				<h5>{{ COPY['duration'] }}</h5>
				<p>{{ songEntry.duration }}</p>
			</li>
		{% endif %}
		</ul>
		
		{% if songEntry.description|length %}
		<div class="description section">
			<h5>{{ COPY['description'] }}</h5>
			<div>{{ songEntry.description }}</div>
		</div>
		{% endif %}
	</div>

	{% if songEntry.allowDownload == 'y' %}
	<div class="download section">
		<a href="{{ siteUrl }}{{ songEntry.audio[0].url }}" target="_blank">
			<h5>download</h5>
			<i></i>
		</a>
	</div>
	{% endif %}

	<div class="share section">
		{% set shareUrl = meta.metaUrl~"share/album/"~albumSlug~"/"~songSlug %}
		{% set shareTitle = meta.metaSongTitle|replace({'%song%': songEntry.title|capitalize}) %}
		{% set shareDescription = meta.metaSongDescription|replace({'%song%': songEntry.title|capitalize, '%album%': albumEntry.title|capitalize}) %}
		{% set shareCopy = shareTitle~". "~shareDescription %}

		<h5>{{ COPY['share-song'] }}</h5>
		<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ shareUrl }}" target="_blank" data-width=626 data-height=436></a>
		<a class="twitter" href="https://twitter.com/share?url={{ shareUrl }}&text={{ shareCopy }}" target="_blank" data-width=550 data-height=420></a>
		<a class="googleplus" href="https://plus.google.com/share?url={{ shareUrl }}" target="_blank" data-width=600 data-height=600></a>
		<a class="weibo" href="http://service.weibo.com/share/share.php?title={{ shareCopy }}&url={{ shareUrl }}&pic={% if meta.shareImage|length > 1 %}{{ meta.shareImage[0].url }}{% else %}{{ meta.metaImage }}{% endif %}" target="_blank" data-width=600 data-height=600></a>
	</div>

	{% if songEntry.suggestedSongs|length %}
	<div class="suggestedSongs section">
		<h5>{{ COPY['you-may-interested'] }}</h5>
		<ul>
		{% for suggestedSong in songEntry.suggestedSongs %}
			<li>
				{# get album slug for each suggested song #}
				{% set suggestedAlbum = "" %}
				{% for album in craft.entries.section('album').find() %}
					{% for song in album.songs %}
						{% if song.slug == suggestedSong.slug %}
		            		{% set suggestedAlbum = album %}
		            	{% endif %}
		            {% endfor %}
		        {% endfor %}
				<a href="/album/{{ suggestedAlbum.slug }}/{{ suggestedSong.slug }}" target="_self">
					<div class="background" style="background-image: url({{ siteUrl }}{{ suggestedAlbum.cover[0].url }});"></div>
					<p>{{ suggestedSong.title }}</p>
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
	{% endif %}

</div>

{% endblock %}