{% set albumSlug = craft.request.getQuery('album') %}
{% set albumEntry = craft.entries.section('album').slug(albumSlug).find()[0] %}

{% set songSlug = craft.request.getQuery('song') %}
{% set songEntry = craft.entries.section('song').slug(songSlug).find()[0] %}

<div class="songDetailContainer">

	<h4>
		<span>{{ songEntry.year }}</span>
		{{ songEntry.title }}
	</h4>

	<div class="info section">
		<ul>
		{% if songEntry.composer|length %}
			<li>
				<h5>composer</h5>
				<p>{{ songEntry.composer }}</p>
			</li>
		{% endif %}

		{% if songEntry.performer|length %}
			<li>
				<h5>performer</h5>
				<p>{{ songEntry.performer }}</p>
			</li>
		{% endif %}

		{% if songEntry.duration|length %}
			<li>
				<h5>duration</h5>
				<p>{{ songEntry.duration }}</p>
			</li>
		{% endif %}

		{% if songEntry.instruments|length %}
			<li>
				<h5>instruments</h5>
				<p>
				{% for instrument in songEntry.instruments %}
					{{ instrument.name }}{{ loop.last ? "" : ", " }}
				{% endfor %}
				</p>
			</li>
		{% endif %}
		</ul>

		<div class="description section">
			{{ songEntry.description }}
		</div>
	</div>

	{% if songEntry.allowDownload == 'y' %}
	<div class="download section">
		<a href="{{ songEntry.audio[0].url }}">
			<h3>download</h3>
			<i></i>
		</a>
	</div>
	{% endif %}

	{% if songEntry.suggestedSongs|length %}
	<div class="suggestedSongs section">
		<h3>you may also like</h3>
		<ul>
		{% for suggestedSong in songEntry.suggestedSongs %}
			<li>
				<a href="/album/{{ albumEntry.slug }}/{{ suggestedSong.slug }}" target="_self">
					<div class="background" style="background-image: url({{ albumEntry.cover[0].url }});"></div>
					<p>{{ suggestedSong.title }}</p>
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
	{% endif %}

</div>