<img class="portrait" draggable="false">

<div class="branding-table">
	<div class="branding-table-cell">
		<div class="branding">

			<h2>
				<div class="top">
					<span class="line full"></span>
				</div>
				<div class="middle">
					<span class="text">{{ home.heading }}</span>
				</div>
				<div class="bottom">
					<span class="line left"></span>
					<span class="text">{{ home.role }}</span>
					<span class="line right"></span>
				</div>
			</h2>

			<h1>
				{% set name = home.fullName|split(' ') %}
				<span>{{ name[0] }}</span>
				<span>{{ name[1] }}</span>
			</h1>

			<p>{{ home.promotionText }}</p>

			<ul class="buttons">
				<li>{% include "_common/frame-button" with {text: 'Listen<br>Now', href: '/album', direction: 'down'} %}</li>
				<li>{% include "_common/frame-button" with {text: 'Biography', href: '/'~biography.token, direction: 'up'} %}</li>
			</ul>

		</div>
	</div>
</div>

<div class="curtain"></div>