<div id="media-player">

	<div class="playbackControls">
		<div class="prevSongButton"></div>
		<div class="playButton"></div>
		<div class="nextSongButton"></div>
	</div>

	<div class="soundControls">
		<div class="muteButton"></div>
		<div class="slider">
			<div class="volumeBar"></div>
			<div class="sliderThumb"></div>
		</div>
	</div>

	<div class="progressControls">
		<canvas></canvas>
		<div class="playhead"></div>
	</div>

	<div class="shareControls">
		<div class="facebook"></div>
		<div class="twitter"></div>
	</div>

</div>