<div id="media-player">

	<div class="fullColumn">

		<div class="playbackControl">
			<div class="cell left">
				<div class="prevButton button"></div>
			</div>
			<div class="cell middle">
				<div class="playButton button"></div>
			</div>
			<div class="cell right">
				<div class="nextButton button"></div>
			</div>
		</div>

		<div class="progressControl">
			<div class="fullColumn">
				<canvas width="800" height="60"></canvas>
				<div class="playhead"></div>
			</div>
		</div>

		<div class="soundControl">
			<div class="soundButton button"></div>
			<div class="slider">
				<div class="sliderContainer">
					<div class="bar"></div>
					<div class="handle"></div>
				</div>
			</div>
		</div>
		
	</div>

</div>