.albumPlayer{
	width: 50%;
	min-width: 600px;

	>.top, >.middle, >.bottom{
		font-size: 0;

		>ul{
			display: inline-block;
			vertical-align: middle;
			width: 80%;
			height: 100%;
			overflow: hidden;
			
			>li{
				>h4{
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
		}

		>.arrowContainer, >.progressIcon{
			width: 20%;
			display: inline-block;
			vertical-align: middle;
			text-align: center;
		}
	}

	>.top, >.bottom{
		height: 40px;
		@include background(linear-gradient(left, rgba(0,0,0,0), rgba(15,15,30,.5) 20%, rgba(35,35,35,.5) 80%, rgba(0,0,0,0)));

		>ul{
			opacity: .4;

			h4{
				height: 18px;
				font-size: 18px;
				padding-top: (40px - 18px) / 2;
				padding-bottom: (40px - 18px) / 2;
			}
		}
	}

	>.middle{
		height: 60px;
		@include background(linear-gradient(left, rgba(0,0,0,0), rgba(15,15,30,.25) 20%, rgba(35,35,35,.25) 80%, rgba(0,0,0,0)));

		>ul{
			h4{
				height: 44px;
				font-size: 40px;
				padding-top: (60px - 44px) / 2;
				padding-bottom: (60px - 44px) / 2;
			}
		}
	}
}