@import "album-player";

#albums{
	.album{
		display: table;

		>.background{
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 0;
			background-image: url("#{$static_images_path}album-tile.png");

			>div{
				position: absolute;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center;
				@include single-transition(opacity, 5s);

				&.colorOverlay{
					&.gradientOverlay{
						@include background(
							radial-gradient(rgba(120, 135, 160, 0.6), rgba(0, 0, 0, .9))
						);
					}

					&.loaderOverlay{
						background-image: url("#{$static_images_path}ajax-loader.gif");
						background-repeat: no-repeat;
						background-position: center;
						background-size: 32px 32px;
						background-color: rgba(0,0,0,.7);
						@include single-transition(opacity, 0.6s);
					}
				}
			}
		}

		>.centerColumn{
			display: table-cell;
			vertical-align: middle;
			padding: 0 10% 200px 10%;
			height: 100%;

			>.content{
				position: relative;
			}
		}

		.content{
			>h3{
				margin-top: 45px;
				margin-bottom: 10px;
				padding-left: 95px;
				font-family: $font_barkentina;
				font-size: 18px;
				text-transform: uppercase;
				color: white;
				-webkit-font-smoothing: antialiased;

				&:first-child{
					margin-top: 0;
				}
			}

			h4{
				padding-left: 95px;
				color: white;
				font-family: $font_poly;
				font-style: italic;
				text-transform: capitalize;
				-webkit-font-smoothing: antialiased;
			}

			>h4{
				font-size: 30px;
			}
		}

		&:first-child{
			@include single-box-shadow(0px, 0px, 10px, 0px, rgba(0, 0, 0, .4));
		}

		&:last-child{
			@include single-box-shadow(0px, 4px, 10px, 0px, rgba(0, 0, 0, .4));
		}
	}
}