.albumPlayer{
	width: 65%;
	min-width: 600px;

	.list{
		>ul{
			@include single-transition(transform, .5s, $easeOutCubic);
		}
	}

	>.top, >.middle, >.bottom{
		font-size: 0;

		>.list{
			display: inline-block;
			vertical-align: middle;
			width: 80%;
			height: 100%;
			overflow: hidden;
			
			li{
				>h4{
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
		}

		>.iconContainer{
			width: 20%;
			display: inline-block;
			vertical-align: middle;
			@include user-select(none);
			text-align: center;
		}
	}

	>.top, >.bottom{
		height: 50px;
		@include background(linear-gradient(left, rgba(0,0,0,0), rgba(15,15,30,.5) 20%, rgba(35,35,35,.35) 70%, rgba(0,0,0,0)));

		>.list{
			opacity: .4;

			>ul{
				@include transition-duration(.4s);
			}

			h4{
				height: 18px;
				font-size: 18px;
				padding-top: (50px - 18px) / 2;
				padding-bottom: (50px - 18px) / 2;
			}
		}

		.arrowButton{
			margin: 0 auto;
			@extend %resetButton;
			@include single-transition(opacity, .2s);
			
			&:active{
				opacity: .15 !important;
			}

			&:hover{
				opacity: .5;
			}

			&.inactive{
				display: none;
			}
		}
	}

	>.top{
		.arrowButton{
			&.upwards{
				@include icon-sprite("album-player-arrow-up");
			}
		}
	}

	>.bottom{
		.arrowButton{
			&.downwards{
				@include icon-sprite("album-player-arrow-down");
			}
		}
	}

	>.middle{
		height: 80px;
		@include background(linear-gradient(left, rgba(0,0,0,0), rgba(15,15,30,.25) 20%, rgba(35,35,35,.25) 80%, rgba(0,0,0,0)));

		>.list{
			h4{
				height: 44px;
				font-size: 40px;
				padding-top: (80px - 44px) / 2;
				padding-bottom: (80px - 44px) / 2;
			}
		}

		canvas{
			display: block;
			margin: 0 auto;
		}
	}
}