#awards{
	>.centerColumn{
		font-size: 0;
	}

	.column{
		display: inline-block;
		vertical-align: top;

		&.left, &.right{
			width: 30%;
		}

		&.middle{
			width: 40%;

			ul{
				margin: 0 auto;
				width: 100%;
				min-width: 330px;
				max-width: 400px; 
				text-align: center;

				>li{
					>.award{
						margin: 48px 0;
						display: inline-block;
						height: 140px;
						white-space: nowrap;

						>div{
							display: inline-block;
							vertical-align: middle;
						}

						>.left{
							@include ui-sprite("award-left");
						}

						>.right{
							@include ui-sprite("award-right");
						}

						>.middle{
							padding: 0 5px;
							width: 300px;
							max-height: 140px;
							white-space: normal;

							>.title{
								padding-top: 15px;
								font-size: 24px;
								line-height: 20px;
								font-family: $font_barkentina;
							}

							>.event{
								margin-top: 8px;
								font-size: 14px;
								font-family: $font_poly;
							}

							>.divider{
								margin: 8px auto;
								width: 100px;
								height: 1px;
								background: rgba(0, 0, 0, .2);
							}

							>.year{
								font-size: 14px;
								font-family: $font_barkentina;
							}
						}
					}
				}
			}
		}
	}
}