#biography{
	ul{
		text-align: center;

		>li{
			display: inline-block;
			vertical-align: top;
			width: 30%;
			padding-right: 2%;
			text-align: left;
			@include box-sizing(border-box);

			&:last-child{
				padding-right: 0;
			}

			>.animaticTitle{
				margin: 10px 0 20px 0;
			}

			>.outer{
				margin: 15px auto;
				overflow: hidden;

				>p{
					font-size: 13px;
					line-height: 13px * 1.8;
				}
			}
		}
	}
}

#press{
	>p{
		font-style: italic;
		line-height: 13px * 2.2 !important;

		&:before{
			content: '“';
			margin-top: 20px;
			margin: 10px;
		}

		&:after{
			content: '”';
			margin: 10px;
		}
	}
}