@mixin fade-button($fromOpacity:1, $toOpacity:.5, $duration:.2s) {
  cursor: pointer;
  opacity: $fromOpacity;
  @include single-transition(opacity, $duration);
  @include user-select(none);

  &:hover, &.active{
    opacity: $toOpacity;
  }
}

.scrollbar{
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;

  &:hover, &.down{
    >.track{
      width: 8px !important;
    }
  }

  >.track{
    float: right;
    width: 4px;
    height: 100%;
    @include single-transition(width, 0.25s, ease-out);

    >.handle{
      position: relative;
      left: 0 !important;
      width: 100%;
      @include background(linear-gradient(left, #595968 50%, #4F4F5D 50%));
    }
  }
}


.grab{
   cursor: grab;
   cursor: -moz-grab;
   cursor: -webkit-grab;
   cursor: url(#{$static_cursor_path}openhand.cur), default !important;

   &.grabbing{
     cursor: grabbing;
     cursor: -moz-grabbing;
     cursor: -webkit-grabbing;
     cursor: url(#{$static_cursor_path}closehand.cur), default !important;
   }
}

// --- triangle button --
.triangleButton{
  display: block;
  @extend .button;
  overflow: hidden;
  //outline: 1px solid white;

  &:hover{
    &.upwards{
      .arrow{
        opacity: .4;
        @include translateY(-2px);
      }
    }

    &.downwards{
      .arrow{
        opacity: .4;
        @include translateY(2px);
      }
    }

    &.leftwards{
      .arrow{
        opacity: .4;
        @include translateX(-2px);
      }
    }

    &.rightwards{
      .arrow{
        opacity: .4;
        @include translateX(2px);
      }
    }
  }

  &.black{
    >.content{
      >.background{
        background-image: url("#{$static_images_path}triangle-button-black.png");
      }

      >h3{
        color: white;
      }
    }
  }

  >.content{
    @include single-transition(transform, 0.2s, ease-out);

    >.background{
      position: absolute;
      width: 114px;
      height: 114px;
      background-image: url("#{$static_images_path}triangle-button-white.png");
    }

    >h3{
      position: absolute;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      color: black;
      font-size: 12px;
    }

    >.arrow{
      position: relative;
      @include transition(opacity .2s, transform .2s);

      &.hide{
        display: none !important;
      }
    }
  }

  &.upwards, &.downwards{
    width: $triangle_button_size;
    height: $triangle_button_size / 2;
  }

  &.leftwards, &.rightwards{
    width: $triangle_button_size / 2;
    height: $triangle_button_size;
  }

  &.upwards{
    .background{
      top: 0;
      left: 0;
    }

    h3{
      top: 32px;
    }

    .arrow{
      top: 5px;
      margin: 0 auto;
      @include icon-sprite("triangle-arrow-upwards");
    }
  }

  &.downwards{
    .background{
      top: - $triangle_button_size / 2;
      left: 0;
    }

    h3{
      top: 16px;
    }

    .arrow{
      top: 44px;
      margin: 0 auto;
      @include icon-sprite("triangle-arrow-downwards");
    }
  }

  &.leftwards{
    .background{
      top: 0;
      left: 0;
    }

    h3{
      top: 52px;
      left: 6px;
    }

    .arrow{
      top: 50px;
      left: 5px;
      @include icon-sprite("triangle-arrow-leftwards");
    }
  }

  &.rightwards{
    .background{
      top: 0;
      left: - $triangle_button_size / 2;
    }

    h3{
      top: 52px;
      left: 0px;
    }

    .arrow{
      top: 50px;
      left: 44px;
      @include icon-sprite("triangle-arrow-rightwards");
    }
  }

  &.hide{
    &.upwards{
      >.content{
        @include translateY( $triangle_button_size / 2 );
      }
    }

    &.downwards{
      >.content{
        @include translateY( - $triangle_button_size / 2 );
      }
    }

    &.leftwards{
      >.content{
        @include translateX( $triangle_button_size / 2 );
      }
    }

    &.rightwards{
      >.content{
        @include translateX( - $triangle_button_size / 2 );
      }
    }
  }
}

// --- rectangle button --
.rectangleButton{
  @extend .button;
  position: relative;
  background: white;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  @include box-sizing(border-box);
  @include single-box-shadow(-1px, -1px, 0px, 0px, rgba(0, 0, 0, 0.2), inset);

  >.gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include background(linear-gradient(120deg, #CACAD9, rgba(255, 255, 255, 0)));
    @include single-transition(opacity, 0.4s);
  }

  >.content{
    position: relative;
    z-index: 1;
    color: $color_purple;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-transform: capitalize;
    @include single-transition(opacity, 0.2s);
  }

  &:hover{
    >.gradient{
      opacity: 0.4;
    }

    >.content{
      opacity: 0.8;
    }
  }

  &:active{
    >.content{
      color: black;
    }
  }
}

// --- diamond button ---
.diamondButton{
  @extend .button;
  display: block;
  position: relative;
  width: 100px;
  height: 100px;

  &.black{
    >h3{
      color: black;
    }

    >.backgrounds{
      >div{
        &.white, &.whiteActive{
          opacity: 0;
        }

        &.black{
          opacity: 1;
        }
      }
    }
  }

  >.backgrounds{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    >div{
      position: absolute;
      top: 0;
      left: 0;
      @include single-transition(opacity, .4s);

      &.white{
        @include icon-sprite("diamond-button-white");
      }

      &.whiteActive{
        @include icon-sprite("diamond-button-white-active");
        opacity: 0;
      }

      &.black{
        @include icon-sprite("diamond-button-black");
        opacity: 0;
      }

      &.blackActive{
        @include icon-sprite("diamond-button-black-active");
        opacity: 0;
      }
    }
  }

  >h3{
    position: relative;
    top: 50%;
    line-height: 0;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    @include single-transition(color, 0.2s, ease-out);
  }

  &.active{
    >h3{
      color: black;
    }

    >.backgrounds{
      >div{
        &.white{
          opacity: 0;
        }

         &.whiteActive{
          opacity: 1;
        }
      }
    }

    &.black{
      >h3{
        color: white;
      }

      >.backgrounds{
        >div{
          &.black, &.white, &.whiteActive{
            opacity: 0;
          }

          &.blackActive{
            opacity: 1;
          }
        }
      }
    }
  }
}

// --- expand button --
.expandButton{
  @extend .button;
  
  &.upwards{
    @include icon-sprite("expand-button-up-white-small");

    &.black{
      @include icon-sprite("expand-button-up-black-small");
    }
  }

  &.downwards{
    @include icon-sprite("expand-button-down-white-small");

    &.black{
      @include icon-sprite("expand-button-down-black-small");
    }
  }
}

// --- animatic title --
.animaticTitle{
  position: relative;
  overflow: hidden;

  >h3{
    display: block;
    font-style: italic;
    text-transform: capitalize;
    font-family: $font_poly;
  }

  >.line{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;

    >.fill{
      width: 50%;
      height: 100%;
      background-color: #000;
    }
  }
}

// --- frame button --
.frame-button{
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;

  >.container{
    position: absolute;
    top: -10px;
    left: -10px;
    display: table;
    width: 140px;
    height: 140px;

    >.shape{
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
    }

    >h3{
      display: table-cell;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      font-family: $font_barkentina;
      font-size: 10px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .2em;
      line-height: 1.6;
      color: #fff;
      opacity: .5;
      @include single-transition(opacity, .3s, ease-in-out);
    }
  }

  &.up{
    .shape{
      background-image: url("#{$static_images_path}frame-button-up.png");

      &.frame-0 {background-position: -0px -0px}
      &.frame-1 {background-position: -140px -0px}
      &.frame-10 {background-position: -280px -0px}
      &.frame-11 {background-position: -420px -0px}
      &.frame-12 {background-position: -0px -140px}
      &.frame-13 {background-position: -140px -140px}
      &.frame-14 {background-position: -280px -140px}
      &.frame-15 {background-position: -420px -140px}
      &.frame-16 {background-position: -0px -280px}
      &.frame-17 {background-position: -140px -280px}
      &.frame-18 {background-position: -280px -280px}
      &.frame-19 {background-position: -420px -280px}
      &.frame-2 {background-position: -0px -420px}
      &.frame-20 {background-position: -140px -420px}
      &.frame-21 {background-position: -280px -420px}
      &.frame-22 {background-position: -420px -420px}
      &.frame-23 {background-position: -0px -560px}
      &.frame-24 {background-position: -140px -560px}
      &.frame-25 {background-position: -280px -560px}
      &.frame-26 {background-position: -420px -560px}
      &.frame-27 {background-position: -0px -700px}
      &.frame-28 {background-position: -0px -700px}
      &.frame-29 {background-position: -0px -700px}
      &.frame-3 {background-position: -140px -700px}
      &.frame-4 {background-position: -280px -700px}
      &.frame-5 {background-position: -420px -700px}
      &.frame-6 {background-position: -0px -840px}
      &.frame-7 {background-position: -140px -840px}
      &.frame-8 {background-position: -280px -840px}
      &.frame-9 {background-position: -420px -840px}
    }
  }

  &.down{
    .shape{
      background-image: url("#{$static_images_path}frame-button-down.png");

      &.frame-0 {background-position: -0px -0px}
      &.frame-1 {background-position: -140px -0px}
      &.frame-10 {background-position: -280px -0px}
      &.frame-11 {background-position: -420px -0px}
      &.frame-12 {background-position: -0px -140px}
      &.frame-13 {background-position: -140px -140px}
      &.frame-14 {background-position: -280px -140px}
      &.frame-15 {background-position: -420px -140px}
      &.frame-16 {background-position: -0px -280px}
      &.frame-17 {background-position: -140px -280px}
      &.frame-18 {background-position: -280px -280px}
      &.frame-19 {background-position: -420px -280px}
      &.frame-2 {background-position: -0px -420px}
      &.frame-20 {background-position: -140px -420px}
      &.frame-21 {background-position: -280px -420px}
      &.frame-22 {background-position: -420px -420px}
      &.frame-23 {background-position: -0px -560px}
      &.frame-24 {background-position: -140px -560px}
      &.frame-25 {background-position: -280px -560px}
      &.frame-26 {background-position: -420px -560px}
      &.frame-27 {background-position: -0px -700px}
      &.frame-28 {background-position: -0px -700px}
      &.frame-29 {background-position: -0px -700px}
      &.frame-3 {background-position: -140px -700px}
      &.frame-4 {background-position: -280px -700px}
      &.frame-5 {background-position: -420px -700px}
      &.frame-6 {background-position: -0px -840px}
      &.frame-7 {background-position: -140px -840px}
      &.frame-8 {background-position: -280px -840px}
      &.frame-9 {background-position: -420px -840px}
    }
  }

  &:hover{
    h3{
      opacity: 1;
    }
  }
}