$form_width: 380px;

#contact{
	text-align: center;

	>.centerColumn{
		>div{
			margin-bottom: 40px;
		}
	}

	.heading{
		position: relative;
		margin: 15px auto 15px auto;
		width: $form_width;
		height: 14px;

		>.bar{
			position: absolute;

			&.left{
				top: ( 14px - 1px ) / 2;
				left: 0;
				@include ui-sprite("contact-heading-bar-left");
			}
			&.right{
				top: ( 14px - 1px ) / 2;
				right: 0;
				@include ui-sprite("contact-heading-bar-right");
			}
		}

		>h4{
			font-size: 14px;
			font-family: $font_barkentina;
			font-style: italic;
			text-transform: capitalize;
		}
	}

	.emailContainer{
		a{
			color: black;
			font-size: 18px;
			font-family: $font_barkentina;
			text-decoration: underline;
			@include single-transition(color, .4s);

			&:hover{
				color: $color_lightpurple;
			}
		}
	}

	.socialContainer{
		>ul{
			>li{
				display: inline-block;
				vertical-align: middle;
				margin: 0 10px 0 10px;

				>a{
					display: block;
					opacity: .8;
					@include single-transition(opacity, .4s);

					&:hover{
						opacity: .6;
					}

					&.facebook{
						@include icon-sprite("facebook-page");
					}

					&.googlePlus{
						@include icon-sprite("googleplus-page");
					}

					&.twitter{
						@include icon-sprite("twitter-page");
					}

					&.linkedIn{
						@include icon-sprite("linkedin-page");
					}

					&.vimeo{
						@include icon-sprite("vimeo-page");
					}

					&.youtube{
						@include icon-sprite("youtube-page");
					}
				}
			}
		}
	}

	input, textarea{
		margin: 0 auto;
		display: block;
		padding: 6px;
		margin-top: 12px;
		margin-bottom: 12px;
		width: $form_width;
		outline: none;
		border: 1px solid rgba(171, 171, 171, .4);
		background: rgba(255, 255, 255, .4);
		font-family: $font_poly;
		font-size: 14px;
		color: #B0B0B0;
		-webkit-font-smoothing: antialiased;
		@include transition(color .2s, border-color .2s);
	}

	input:focus, textarea:focus{
		color: $color_purple;
		border-color: $color_purple;
	}

	textarea{
		height: 160px;
	}

	button{
		padding: 0;
		border: none;

		>.send{
			i{
				vertical-align: baseline;
				margin-right: 5px;
				@include icon-sprite("mail");
			}
		}
	}
}