#contact{
	text-align: center;

	input, textarea{
		margin: 0 auto;
		display: block;
		padding: 6px;
		margin-top: 12px;
		margin-bottom: 12px;
		width: 380px;
		border: 1px solid rgba(171, 171, 171, .4);
		background: rgba(255, 255, 255, .4);
		font-family: $font_poly;
		font-size: 14px;
		color: #B0B0B0;
		-webkit-font-smoothing: antialiased;
	}

	input{

	}

	textarea{
		height: 160px;
	}

	.send{
		i{
			vertical-align: baseline;
			margin-right: 5px;
			@include icon-sprite("mail");
		}
	}
}