$footer_bottom: 20px;

#footer{
	position: absolute;
	left: 25px;
	bottom: $footer_bottom;
	font-size: 12px;
	color: white;
	@include transition(bottom 0.2s ease-out);

	&.black{
		color: black;

		#credits{
			border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		}

		a, p{
			color: black !important;
		}
	}

	&.up{
		bottom: $footer_bottom + $media_player_height;
	}

	#credits{
		overflow: hidden;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		opacity: 1;
		@include transition(opacity 0.5s, height 0.5s ease-out);

		&.hide{
			height: 0 !important;
			opacity: 0 !important;
		}

		&.hideDetail{
			height: 23px;
			opacity: 1;
		}

		>h3{
			font-size: 14px;
			font-family: $font_sans_boldcond;
			text-transform: uppercase;
			cursor: pointer;
			@include user-select(none);

			>.expandButton{
				display: inline-block;
				vertical-align: -2px;
				margin-left: 5px;
			}
		}

		>.outer{
			height: 0;
			overflow: hidden;

			>.inner{
				padding: 5px 0 15px 0;
				border-bottom: 1px solid rgba(255, 255, 255, 0.3);

				>li{
					margin: 20px 0;

					&:last-child{
						margin-bottom: 0;
					}

					>h5{
						font-family: $font_sans_boldcond;
						text-transform: uppercase;
						font-size: 12px;
						padding: 6px 0;
					}

					>a{
						display: block;
						color: white;
						font-family: $font_barkentina;
						font-size: 16px;
						font-style: italic;

						@include single-transition(opacity, 0.2s);

						>span{
							display: block;
							font-family: $font_sans;
							font-size: 12px;
							line-height: 16px;
							opacity: .5;
						}

						&:hover{
							opacity: .8;
						}
					}
				}
			}
		}
	}

	#copyright{
		text-transform: capitalize;
		font-size: 10px;
		padding: 8px 0 6px 0;

		>a{
			color: white;

			&:hover{
				text-decoration: underline;
			}
		}
	}

	#like-buttons{
		margin: 10px 0 5px 0;
		font-size: 0;

		>span{
			margin-right: 6px;
		}
	}
}