/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// --- imports ---
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";
@import "icons";

// --- web fonts ---
@import url(http://fonts.googleapis.com/css?family=Poly:400,400italic);

// --- local fonts ---
@font-face {
    font-family: "barkentina_1regular";
    src: url('../font/barkentina/barkentina.eot');
    src: url('../font/barkentina/barkentina.eot?#iefix') format('embedded-opentype'),
         url('../font/barkentina/barkentina.woff') format('woff'),
         url('../font/barkentina/barkentina.ttf') format('truetype'),
         url('../font/barkentina/barkentina.svg#barkentina_1regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "assassinregular";
    src: url('../font/assasin/assassin-webfont.eot');
    src: url('../font/assasin/assassin-webfont.woff') format('woff'),
    url('../font/assasin/assassin-webfont.svg#assassinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// --- Image Sprites ---
$icon-sprite-dimensions: true;
$icon-layout:smart;

@import "icon/*.png"; 
@include all-icon-sprites;

$ui-sprite-dimensions: true;
$ui-layout:smart;

@import "ui/*.png"; 
@include all-ui-sprites;

// --- variables ---
$min_width: 768px;
$min_height: 640px;

$static_cursor_path: "/assets/static/cursor/";
$static_images_path: "/assets/static/images/";

$font_poly: "Poly", serif;
$font_barkentina: "barkentina_1regular", serif;
$font_assasin: "assassinregular", serif;

$color_purple: #535362;
$color_lightpurple: #747484;
$color_greenishgray: #bcbcb1;

$triangle_button_size: 114px;
$sidebar_width: 500px;

$default_scrollbar_width: 50px;

$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);

// --- mixins ---
@mixin staticBackgroundImage($filename) {
  background-image: url(#{$static_images_path}#{$filename});
};

@mixin webkitScroll($value: auto) {
  -webkit-overflow-scrolling: $value;
};

// ---
html, body{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.touch{
    *{
      outline: none;
      outline-style: none;
      -webkit-touch-callout: none;              /* disable callout, image save panel */
      -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
      @include user-select('none');
    }
  }
}

body{
  min-width: $min-width;
  min-height: $min-height;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;

  &.hidden{
    display: none;
  }
}

h1, h2, h3, h4, h5, h6{
  font-family: $font_barkentina;
}

p{
  font-family: $font_poly;
}

a{
  text-decoration: none;
  @include user-select(none);

  &:visited{
    color: inherit;
  }
}

i{
  display: inline-block;
  vertical-align: middle; 
}

cite{
  font-style: italic;
}

sup{
  position: relative;
  top: -.5em;
  font-size: .5em;
}

hr{
  border: none;
  height: 1px;
  background-color: #fff;
}

.button{
  @include user-select('none');
  cursor: pointer;
  text-align: center;
}

.centerColumn{
  margin: 0 auto;
  max-width: 1300px;
}

.viewport{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.colorOverlay{
  position: absolute;
  width: 100%;
  height: 100%;
}

.dummy-scroller{
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: auto;
  padding-right: $default_scrollbar_width;

  &.enabled{
    visibility: visible;
  }
}

.curtain{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

%resetButton{
  @include user-select('none');
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  @include appearance(none);
}