#home{
	.logo{
		h1{
			color: white;
			font-size: 64px;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: -2px;

			>span{
				display: block;
				text-transform: lowercase;
				font-size: 30px;
				letter-spacing: 1px;
				line-height: 22px;
				opacity: .8;

				&:before{
					content: '';
					display: inline-block;
					vertical-align: middle;
					margin-right: 15px;
					@include ui-sprite("logo-strip-left");
				}

				&:after{
					content: '';
					display: inline-block;
					vertical-align: middle;
					margin-left: 15px;
					@include ui-sprite("logo-strip-right");
				}
			}
		}
	}
}