@import "media-player";
@import "playlist";

#main-hud{
	.triangleButton{
		position: relative;
	}

	.playlistButton{
		margin: 0 auto;
	}

	.sidebarButton{
		right: 0;
		@include single-transition(right, 0.2s, ease-out);

		&.hide{
			right: -57px !important;
		}
	}

	>.top{
		position: absolute;
		width: 100%;
		height: 0;
		top: 0;
		left: 0;
		z-index: 2;
	}

	>.right{
		position: absolute;
		width: 0;
		height: 100%;
		top: 0;
		right: 0;
		z-index: 3;
	}

	>.bottom{
		position: absolute;
		width: 100%;
		height: 0;
		margin-top: -57px - $media_player_height;
		z-index: 0;
		@include single-transition(margin-top, 0.2s, ease-out);

		&.hide{
			margin-top: 0 !important;
		}

		&.hidePlayer{
			margin-top: -57px;
		}

		>.homeButton{
			position: relative;
			margin: 0 auto;
		}

		#media-player{
			position: relative;
		}
	}
}