.masthead{
	background-color: #aaa;

	>.pages{
		width: 100%;
		height: 100%;

		>.page{
			display: inline-block;
			width: 100%;
			height: 100%;
			padding: 100px 0 100px 0;
			@include box-sizing(border-box);
		}
	}

	>.albumButton{
		position: absolute;
		bottom: 0;
	}
}