$media_player_height: 90px;

#media-player{
	position: absolute;
	width: 100%;
	height: $media_player_height;
	background: #eee;
	@include single-transition(transform, 0.2s, ease-out);

	&.hide{
		@include translate(0px, $media_player_height);
	}
}