$media_player_height: 90px;

#media-player{
	width: 100%;
	height: $media_player_height;
	@include box-sizing(border-box);

	>div{
		width: 100%;
		height: 100%;
		border: 1px solid #ddd;
		border-top: none;
		@include box-sizing(border-box);
		@include background(linear-gradient(bottom, #F0EFFD, white));
	}
}