#playlist-wrapper{
	position: absolute;
	width: 100%;
	z-index: 1;

	>.colorOverlay{
		opacity: 0;
		background: rgba(0,0,0,.7);
		@include single-transition(opacity, 1s);
	}
}

#playlist{
	margin: 0 auto;
	width: 360px;
	height: 100%;
	font-size: 0;
	white-space: nowrap;
	text-align: center;
	-webkit-backface-visibility: hidden;

	&.noScroll{
		.gradients{
			padding-right: 0 !important;
		}

		.viewport{
			overflow-y: hidden;
		}
	}

	>.left, >.right{
		display: inline-block;
		vertical-align: top;
		width: 2px;
		height: 100%;

		&:first-child{
			border-left: 1px solid white;
		}
		
		&:last-child{
			border-right: 1px solid white;
		}
	}

	>.middle{
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: 100%;
	}

	.gradients{
		position: absolute;
		top: 0;
		width: 100%;
		height: 0;
		@include box-sizing(border-box);

		>div{
			position: relative;
			width: 100%;

			>.gradient{
				&:first-child, &:last-child{
					position: absolute;
					left: 0;
					width: 100%;
					height: 100px;
				}

				&:first-child{
					top: 0;
					@include background(linear-gradient(top, #fff, rgba(255,255,255,0)));
				}

				&:last-child{
					bottom: 0;
					@include background(linear-gradient(bottom, #fff, rgba(255,255,255,0)));
				}
			}
		}
	}

	.viewport{
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, .94);
		overflow-y: scroll;
		text-align: left;

		&.hide{
			width: 0;
		}

		.album{
			padding: 0 1px 0 1px;
			@include box-sizing(border-box);

			font-size: 18px;
			color: white;
			text-transform: uppercase;

			&:first-child{
				margin-top: 90px;
			}

			>.heading{
				font-family: $font_sans_boldcond;
				-webkit-font-smoothing: antialiased;
				line-height: 60px;
				padding-left: 20px;
				height: 60px;
				background-color: $color_purple;
				background-size: cover;
				background-position: center;
			}

			>.songs{
				margin: 20px 0 20px 0;

				li{
					cursor: pointer;
					font-size: 0;
					border-bottom: 1px solid #ccc;
					padding: 10px 0 10px 0;
					margin: 17px 18px 17px 18px;
					@include box-sizing(border-box);

					&:hover{
						>h4{
							color: black;
						}
					}

					>h4{
						display: inline-block;
						vertical-align: middle;
						width: 80%;
						color: #999;
						font-size: 20px;
						font-style: italic;
						font-family: $font_poly;
						text-transform: capitalize;
						overflow: hidden;
						text-overflow:ellipsis;
						@include single-transition(color, 0.5s);

						&.active{
							color: black;
						}

						>span{
							display: block;
							margin-top: 4px;
							font-size: 14px;
							font-family: $font_sans;
						}
					}

					>.iconWrapper{
						display: inline-block;
						vertical-align: middle;
						width: 20%;
						overflow: hidden;

						>i{
							@extend .button;
							float: right;
							width: 30px;
							height: 30px;
							background: #ddd;
						}
					}

					&:last-child{
						border-bottom: none;
					}
				}
			}
		}
	}
}