#sidebar{
	position: relative;
	background: white;
	overflow: hidden;

	>.outer{
		width: $sidebar_width + $default_scrollbar_width;
		height: 100%;
		overflow: auto;
		padding: 60px;
		padding-right: 60px + $default_scrollbar_width;
		@include box-sizing(border-box);

		.content{
			.songDetailContainer{

				>h4{
					padding-top: 40px;
					padding-bottom: 15px;
					font-size: 40px;
					font-style: italic;
					text-transform: capitalize;
					color: $color_purple;
					font-family: $font_poly;

					>span{
						display: block;
						color: $color_greenishgray;
						font-family: $font_barkentina;
						font-style: normal;
						font-size: 20px;
						line-height: 1.6;
					}
				}

				h5{
					color: $color_greenishgray;
					font-family: $font_barkentina;
					font-size: 14px;
					text-transform: uppercase;
					letter-spacing: .1em;
					line-height: 1.6;
				}

				>.section{
					border-top: 1px solid $color_greenishgray;
					padding: 26px 0 26px 0;
				}

				>.info{
					>ul{
						font-size: 0;
						padding-bottom: 20px;

						>li{
							display: inline-block;
							vertical-align: top;
							width: 50%;
							margin: 6px 0 6px 0;

							p{
								color: $color_purple;
								font-style: italic;
								font-family: $font_poly;
								font-size: 16px;
								text-transform: capitalize;
								line-height: 24px;
								-webkit-font-smoothing: antialiased;
							}
						}
					}

					>.description{
						font-size: 14px;
						color: $color_purple;
						font-family: $font_poly;
						line-height: 14px * 1.6;
						-webkit-font-smoothing: antialiased;

						>p{
							margin-bottom: 15px;
						}
					}
				}

				>.download{
					>a{
						@include fade-button(1, .8);

						>h5{
							display: inline-block;
						}

						>i{
							display: inline-block;
							vertical-align: baseline;
							margin-left: 10px;
							@include icon-sprite("download");
						}
					}
				}

				>.share{
					>h5{
						display: inline-block;
						vertical-align: middle;
						margin-right: 20px;
					}

					>a{
						display: inline-block;
						vertical-align: middle;
						margin: 0 8px;
						color: $color_purple;
						font-size: 2em;
						@include fade-button(1, .8);

						&.facebook{
							@extend .icon-facebook;
						}

						&.twitter{
							@extend .icon-twitter;
						}

						&.googleplus{
							@extend .icon-googleplus;
							font-size: 1.8em;
						}

						&.weibo{
							@extend .icon-weibo;
						}
					}
				}

				>.suggestedSongs{
					li{
						margin: 10px 0 10px 0;

						>a{
							position: relative;
							display: block;
							width: 100%;
							height: 40px;
							background-color: $color_purple;

							&:hover{
								>.background{
									opacity: 0.05;
								}
							}

							>.background{
								width: 100%;
								height: 100%;
								background-size: cover;
								background-position: center;
								opacity: 1;
								@include single-transition(opacity, 0.2s);
							}

							>p{
								position: absolute;
								top: 0;
								width: 100%;
								line-height: 40px;
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
								font-style: italic;
								text-align: center;
								text-transform: capitalize;
								font-family: $font_poly;
								font-size: 18px;
								color: white;
								padding: 0 20px;
								@include box-sizing(border-box);
							}
						}
					}
				}
			}
		}
	}

	>.closeButton{
		position: absolute;
		margin-top: -30px;
		top: 50%;
		left: 0;
		width: 60px;
		height: 60px;
		overflow: hidden;

		&.hide{
			>.content{
				@include translateX(-60px);
			}
		}

		&:hover{
			.arrow{
				@include translateX(2px);
			}
		}

		>.content{
			@include icon-sprite("sidebar-close-button");
			@include single-transition(transform, .5s, ease-out);

			>.arrow{
				position: relative;
				top: 22px;
				left: 16px;
				@include icon-sprite("sidebar-close-button-arrow");
				@include transition(transform .2s);
			}
		}
	}
}