@import "global";
@import "animation";
@import "common-ui";
@import "preloader";
@import "album";
@import "sidebar";
@import "main-hud";
@import "masthead-section";
@import "credits";

#main-container{
	width: 100%;
	height: 100%;
	padding: 8px;
	@include box-sizing(border-box);

	>.viewport{
		white-space: nowrap;
	}
}

#main-scroller{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 100%;
	white-space: normal;

	>.viewport{
		//overflow-y: scroll; //for test only
		outline: 1px solid #ddd;
	}
}

#sidebar{
	display: inline-block;
	vertical-align: top;
	width: $sidebar_width;
	height: 100%;
	white-space: normal;
}

.section{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#main-hud{
	position: relative;
	width: 100%;
	height: 0px;
	z-index: 10;
}

#album-scroller{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #000;
	background-image: url("#{$static_images_path}album-tile.png");
	@include user-select(none);

	>div{
		position: relative;
		width: 100%;
		height: 100%;
	}
}