@import url(http://fonts.googleapis.com/css?family=Poly:400,400italic);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "barkentina_1regular";
  src: url("../font/barkentina/barkentina.eot");
  src: url("../font/barkentina/barkentina.eot?#iefix") format("embedded-opentype"), url("../font/barkentina/barkentina.woff") format("woff"), url("../font/barkentina/barkentina.ttf") format("truetype"), url("../font/barkentina/barkentina.svg#barkentina_1regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../font/myriadpro/MYRIADPRO-REGULAR.eot");
  src: url("../font/myriadpro/MYRIADPRO-REGULAR.woff") format("woff"), url("../font/myriadpro/MYRIADPRO-REGULAR.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro-BoldCond";
  src: url("../font/myriadpro/MYRIADPRO-BOLDCOND.eot");
  src: url("../font/myriadpro/MYRIADPRO-BOLDCOND.woff") format("woff"), url("../font/myriadpro/MYRIADPRO-BOLDCOND.svg#MyriadPro-BoldCond") format("svg");
  font-weight: normal;
  font-style: normal;
}

html, body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html.touch *, body.touch * {
  outline: none;
  outline-style: none;
  -webkit-touch-callout: none;
  /* disable callout, image save panel */
  -webkit-tap-highlight-color: transparent;
  /* "turn off" link highlight */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body {
  min-width: 768px;
  min-height: 640px;
  font-family: "MyriadPro-Regular", sans-serif;
}

h1, h2 {
  font-family: "barkentina_1regular", serif;
}

h3, h4, h5, h6 {
  font-family: "MyriadPro-Regular", sans-serif;
}

p {
  font-family: "Poly", serif;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(50%, #595968), color-stop(50%, #4f4f5d));
  background: -webkit-linear-gradient(left, #595968 50%, #4f4f5d 50%);
  background: -moz-linear-gradient(left, #595968 50%, #4f4f5d 50%);
  background: -o-linear-gradient(left, #595968 50%, #4f4f5d 50%);
  background: linear-gradient(left, #595968 50%, #4f4f5d 50%);
}

.button, .triangleButton, .rectangleButton, .diamondButton, #playlist .viewport .album > .songs li > .iconWrapper > i {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  text-align: center;
}

.centerColumn {
  margin: 0 auto;
  max-width: 1280px;
}

.viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.colorOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.triangleButton {
  background: white;
}
.triangleButton.upwards, .triangleButton.downwards {
  width: 114px;
  height: 57px;
}
.triangleButton.leftwards, .triangleButton.rightwards {
  width: 57px;
  height: 114px;
}

.rectangleButton {
  position: relative;
  background: white;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset -1px -1px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset -1px -1px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset -1px -1px 0px 0px rgba(0, 0, 0, 0.2);
}
.rectangleButton > .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(120deg, #cacad9, rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(120deg, #cacad9, rgba(255, 255, 255, 0));
  background: -o-linear-gradient(120deg, #cacad9, rgba(255, 255, 255, 0));
  background: linear-gradient(120deg, #cacad9, rgba(255, 255, 255, 0));
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.rectangleButton > .content {
  position: relative;
  z-index: 1;
  color: #535362;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-transform: capitalize;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.rectangleButton:hover > .gradient {
  opacity: 0.4;
}
.rectangleButton:hover > .content {
  opacity: 0.8;
}
.rectangleButton:active > .content {
  color: black;
}

.diamondButton {
  width: 100px;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
}
.diamondButton.active {
  background: black;
}

.albumPlayer {
  width: 50%;
  min-width: 600px;
}
.albumPlayer > .top > ul > li, .albumPlayer > .middle > ul > li, .albumPlayer > .bottom > ul > li {
  width: 80%;
  overflow: hidden;
}
.albumPlayer > .top > ul > li > h4, .albumPlayer > .middle > ul > li > h4, .albumPlayer > .bottom > ul > li > h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.albumPlayer > .top, .albumPlayer > .bottom {
  height: 40px;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(15, 15, 30, 0.5)), color-stop(80%, rgba(35, 35, 35, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(15, 15, 30, 0.5) 20%, rgba(35, 35, 35, 0.5) 80%, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(15, 15, 30, 0.5) 20%, rgba(35, 35, 35, 0.5) 80%, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(15, 15, 30, 0.5) 20%, rgba(35, 35, 35, 0.5) 80%, rgba(0, 0, 0, 0));
  background: linear-gradient(left, rgba(0, 0, 0, 0), rgba(15, 15, 30, 0.5) 20%, rgba(35, 35, 35, 0.5) 80%, rgba(0, 0, 0, 0));
}
.albumPlayer > .top > ul, .albumPlayer > .bottom > ul {
  padding-top: 9px;
  height: 22px;
  overflow: hidden;
  opacity: .4;
}
.albumPlayer > .top > ul h4, .albumPlayer > .bottom > ul h4 {
  height: 18px;
  font-size: 18px;
}
.albumPlayer > .middle {
  height: 60px;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(15, 15, 30, 0.25)), color-stop(80%, rgba(35, 35, 35, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(15, 15, 30, 0.25) 20%, rgba(35, 35, 35, 0.25) 80%, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(15, 15, 30, 0.25) 20%, rgba(35, 35, 35, 0.25) 80%, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(15, 15, 30, 0.25) 20%, rgba(35, 35, 35, 0.25) 80%, rgba(0, 0, 0, 0));
  background: linear-gradient(left, rgba(0, 0, 0, 0), rgba(15, 15, 30, 0.25) 20%, rgba(35, 35, 35, 0.25) 80%, rgba(0, 0, 0, 0));
}
.albumPlayer > .middle > ul {
  padding-top: 8px;
  height: 44px;
  overflow: hidden;
}
.albumPlayer > .middle > ul h4 {
  height: 44px;
  font-size: 40px;
}

.album > .background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: black;
}
.album > .background > div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: opacity 5s;
  -moz-transition: opacity 5s;
  -o-transition: opacity 5s;
  transition: opacity 5s;
}
.album > .background > div.colorOverlay {
  background-image: url("/assets/static/images/ajax-loader.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.album > .centerColumn {
  height: 100%;
  padding: 100px 0 100px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.album > .centerColumn > .content {
  position: relative;
}
.album .content > h3 {
  margin-top: 45px;
  margin-bottom: 10px;
  padding-left: 95px;
  font-family: "MyriadPro-BoldCond", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  -webkit-font-smoothing: antialiased;
}
.album .content h4 {
  padding-left: 95px;
  color: white;
  font-family: "Poly", serif;
  font-style: italic;
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;
}
.album .content > h4 {
  font-size: 30px;
}

#sidebar {
  background: white;
}

#media-player {
  width: 100%;
  height: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#media-player > div {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-top: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f0effd), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(bottom, #f0effd, #ffffff);
  background: -moz-linear-gradient(bottom, #f0effd, #ffffff);
  background: -o-linear-gradient(bottom, #f0effd, #ffffff);
  background: linear-gradient(bottom, #f0effd, #ffffff);
}

#playlist-wrapper {
  position: absolute;
  width: 100%;
  z-index: 1;
}
#playlist-wrapper > .colorOverlay {
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

#playlist {
  margin: 0 auto;
  width: 360px;
  height: 100%;
  font-size: 0;
  white-space: nowrap;
  text-align: center;
  -webkit-backface-visibility: hidden;
}
#playlist.noScroll .gradients {
  padding-right: 0 !important;
}
#playlist.noScroll .viewport {
  overflow-y: hidden;
}
#playlist > .left, #playlist > .right {
  display: inline-block;
  vertical-align: top;
  width: 2px;
  height: 100%;
}
#playlist > .left:first-child, #playlist > .right:first-child {
  border-left: 1px solid white;
}
#playlist > .left:last-child, #playlist > .right:last-child {
  border-right: 1px solid white;
}
#playlist > .middle {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
}
#playlist .gradients {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#playlist .gradients > div {
  position: relative;
  width: 100%;
}
#playlist .gradients > div > .gradient:first-child, #playlist .gradients > div > .gradient:last-child {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100px;
}
#playlist .gradients > div > .gradient:first-child {
  top: 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0));
  background: -o-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0));
  background: linear-gradient(top, #ffffff, rgba(255, 255, 255, 0));
}
#playlist .gradients > div > .gradient:last-child {
  bottom: 0;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
  background: -o-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
  background: linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
}
#playlist .viewport {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.94);
  overflow-y: scroll;
  text-align: left;
}
#playlist .viewport.hide {
  width: 0;
}
#playlist .viewport .album {
  padding: 0 1px 0 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
}
#playlist .viewport .album:first-child {
  margin-top: 90px;
}
#playlist .viewport .album > .heading {
  font-family: "MyriadPro-BoldCond", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 60px;
  padding-left: 20px;
  height: 60px;
  background-color: #646473;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#playlist .viewport .album > .songs {
  margin: 20px 0 20px 0;
}
#playlist .viewport .album > .songs li {
  cursor: pointer;
  font-size: 0;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 10px 0;
  margin: 17px 18px 17px 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#playlist .viewport .album > .songs li:hover > h4 {
  color: black;
}
#playlist .viewport .album > .songs li > h4 {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  color: #999;
  font-size: 20px;
  font-style: italic;
  font-family: "Poly", serif;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
#playlist .viewport .album > .songs li > h4.active {
  color: black;
}
#playlist .viewport .album > .songs li > h4 > span {
  display: block;
  margin-top: 4px;
  font-size: 14px;
  font-family: "MyriadPro-Regular", sans-serif;
}
#playlist .viewport .album > .songs li > .iconWrapper {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  overflow: hidden;
}
#playlist .viewport .album > .songs li > .iconWrapper > i {
  float: right;
  width: 30px;
  height: 30px;
  background: #ddd;
}
#playlist .viewport .album > .songs li:last-child {
  border-bottom: none;
}

#main-hud .triangleButton {
  position: relative;
}
#main-hud .playlistButton {
  margin: 0 auto;
}
#main-hud .sidebarButton {
  right: 0;
  -webkit-transition: right 0.2s ease-out;
  -moz-transition: right 0.2s ease-out;
  -o-transition: right 0.2s ease-out;
  transition: right 0.2s ease-out;
}
#main-hud .sidebarButton.hide {
  right: -57px !important;
}
#main-hud > .top {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: 2;
}
#main-hud > .right {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 3;
}
#main-hud > .bottom {
  position: absolute;
  width: 100%;
  height: 0;
  margin-top: -137px;
  z-index: 0;
  -webkit-transition: margin-top 0.2s ease-out;
  -moz-transition: margin-top 0.2s ease-out;
  -o-transition: margin-top 0.2s ease-out;
  transition: margin-top 0.2s ease-out;
}
#main-hud > .bottom.hide {
  margin-top: 0 !important;
}
#main-hud > .bottom.hidePlayer {
  margin-top: -57px;
}
#main-hud > .bottom > .homeButton {
  position: relative;
  margin: 0 auto;
}
#main-hud > .bottom #media-player {
  position: relative;
}

#home .logo h1 {
  color: white;
  font-size: 64px;
  text-align: center;
  text-transform: uppercase;
}
#home .logo h1 > span {
  display: block;
  text-transform: lowercase;
  font-size: 30px;
  letter-spacing: 1px;
  opacity: .8;
}

#biography ul {
  text-align: center;
}
#biography ul > li {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding-right: 2%;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#biography ul > li:last-child {
  padding-right: 0;
}
#biography ul > li > h3 {
  font-family: "Poly", serif;
  font-size: 30px;
  font-style: italic;
  text-decoration: underline;
  text-transform: capitalize;
}
#biography ul > li > p {
  margin-top: 15px;
  font-size: 13px;
  line-height: 23.4px;
}

#press > p {
  font-style: italic;
  line-height: 28.6px !important;
}
#press > p:before {
  content: '“';
  margin-top: 20px;
  margin: 10px;
}
#press > p:after {
  content: '”';
  margin: 10px;
}

#contact input {
  display: block;
}
#contact textarea {
  display: block;
}

.masthead {
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.3))), url("/assets/static/images/backgrounds/masthead.jpg");
  background: -webkit-radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3)), url("/assets/static/images/backgrounds/masthead.jpg");
  background: -moz-radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3)), url("/assets/static/images/backgrounds/masthead.jpg");
  background: -o-radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3)), url("/assets/static/images/backgrounds/masthead.jpg");
  background: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3)), url("/assets/static/images/backgrounds/masthead.jpg");
  background-color: #ddd;
  background-size: cover;
  background-position: center;
}
.masthead > .colorOverlay {
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.88);
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  transition: opacity 0.8s;
}
.masthead > .marquee {
  position: relative;
  width: 100%;
  height: 35%;
}
.masthead > .marquee > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  text-align: center;
  white-space: nowrap;
  background-color: black;
  overflow: hidden;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(15, 15, 30, 0.4)), color-stop(50%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(15, 15, 30, 0.4))), url("/assets/static/images/backgrounds/heading.jpg");
  background: -webkit-linear-gradient(left, rgba(15, 15, 30, 0.4), rgba(0, 0, 0, 0.2), rgba(15, 15, 30, 0.4)), url("/assets/static/images/backgrounds/heading.jpg");
  background: -moz-linear-gradient(left, rgba(15, 15, 30, 0.4), rgba(0, 0, 0, 0.2), rgba(15, 15, 30, 0.4)), url("/assets/static/images/backgrounds/heading.jpg");
  background: -o-linear-gradient(left, rgba(15, 15, 30, 0.4), rgba(0, 0, 0, 0.2), rgba(15, 15, 30, 0.4)), url("/assets/static/images/backgrounds/heading.jpg");
  background: linear-gradient(left, rgba(15, 15, 30, 0.4), rgba(0, 0, 0, 0.2), rgba(15, 15, 30, 0.4)), url("/assets/static/images/backgrounds/heading.jpg");
  background-size: auto 100%;
  background-position: center;
  -webkit-transition: height 0.5s ease-out;
  -moz-transition: height 0.5s ease-out;
  -o-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
}
.masthead > .marquee > div.hide {
  height: 0;
}
.masthead > .marquee > div > .heading, .masthead > .marquee > div > a {
  display: inline-block;
  vertical-align: middle;
}
.masthead > .marquee > div > a {
  width: 180px;
}
.masthead > .marquee > div > .heading {
  width: 400px;
  margin-left: 180px;
  overflow: hidden;
  white-space: nowrap;
}
.masthead > .marquee > div > .heading > h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-style: italic;
  text-transform: capitalize;
  color: white;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.masthead > .marquee > div > .heading > h2:first-child {
  visibility: hidden;
}
.masthead > .pages {
  position: relative;
  width: 100%;
  height: 65%;
  white-space: nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.masthead > .pages > .page {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  white-space: normal;
}
.masthead > .bottom {
  position: absolute;
  width: 100%;
  height: 0;
}
.masthead > .bottom > .albumButton {
  position: relative;
  margin: 0 auto;
  top: -57px;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  transition: transform 0.2s;
}
.masthead > .bottom > .albumButton.hide {
  -webkit-transform: translate(0, 57px);
  -moz-transform: translate(0, 57px);
  -ms-transform: translate(0, 57px);
  -o-transform: translate(0, 57px);
  transform: translate(0, 57px);
}
.masthead > .hud {
  position: absolute;
  width: 100%;
  height: 0;
  z-index: 1;
}
.masthead > .hud > .nav {
  position: relative;
  top: 30px;
  text-align: center;
  font-size: 0;
}
.masthead > .hud > .nav > li {
  display: inline-block;
}

#main-container {
  width: 100%;
  height: 100%;
  padding: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#main-container > .viewport {
  white-space: nowrap;
}

#main-scroller {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: width 0.5s ease-out;
  -moz-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
  white-space: normal;
}
#main-scroller > .viewport {
  outline: 1px solid #ddd;
}

#sidebar {
  display: inline-block;
  width: 400px;
  height: 100%;
  overflow: hidden;
  white-space: normal;
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main-hud {
  position: relative;
  width: 100%;
  height: 0px;
  z-index: 10;
}

#album-scroller {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
