{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% if craft.request.getQuery('staticjs') == 'true' or 'local' not in craft.request.serverName %}
	{% set USE_STATIC_JS = true %}
{% else %}
	{% set USE_STATUC_JS = false %}
{% endif %}

{% set COMPILE_MODE = "SIMPLE" %}
{% set PATH_TO_STATIC_ASSETS = "/assets/static" %}
{% set PATH_TO_PHP = "/php" %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

	<link rel="shortcut icon" href="{{PATH_TO_STATIC_ASSETS}}/images/favicon.ico">

	<link rel="home" href="{{ siteUrl }}" />

	<link rel="stylesheet" type="text/css" href="{{PATH_TO_STATIC_ASSETS}}/css/main.css">
</head>

<body>
	<script>
		document.body.style.visibility = 'hidden';
	</script>

	<!--
		<header id="header">
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>

			<nav>
				<ul>
					<li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li>
				</ul>
			</nav>
		</header>-->

	<div id="main-container">

		<div class="viewport">

			<div id="main-scroller">

				<div id="main-hud">
					{% include "_includes/playlist" %}

					<div class="top">
						{% include "_includes/triangle-button" with {text: 'playlist', classes: 'playlistButton downwards'} %}
					</div>

					<div class="right">
						{% include "_includes/triangle-button" with {text: 'info', classes: 'sidebarButton leftwards'} %}
					</div>
					
					<div class="bottom hide">
						{% include "_includes/triangle-button" with {text: '', classes: 'homeButton upwards'} %}
						{% include "_includes/media-player" %}
					</div>
				</div>

				<div class="viewport">
					{% block content %}
					{% endblock %}
				</div>
			</div>

			<div id="sidebar">
				<div class="content"></div>
				{% include "_includes/sidebar-close-button" %}
			</div>
			
			<div id="footer">
				<div id="credits">
					<h3>credits<div class="expandButton upwards"></div></h3>
					<ul>
						<li>
							<h5>web design & development</h5>
							<p>Joe Zhou &sdot; <a href="http://www.joeonmars.com/" target="_blank"><i class="icon-joeonmars"></i>joeonmars.com</a></p>
						</li>
					</ul>
				</div>
				<div id="copyright">
					Copyright &copy; {{ now.year }} <a href="mailto:{{ contact.emailAddress }}">Hsin-Lei Chen</a>, All rights reserved
				</div>
			</div>

		</div>

	</div>

	<!-- third-party -->
	<script src="{{PATH_TO_STATIC_ASSETS}}/js/third-party/modernizr-latest.js"></script>
	<script src="{{PATH_TO_STATIC_ASSETS}}/js/third-party/paper-full.min.js"></script>
	<script src="{{PATH_TO_STATIC_ASSETS}}/js/third-party/greensock/TweenMax.min.js"></script>
	<script src="{{PATH_TO_STATIC_ASSETS}}/js/third-party/greensock/plugins/ScrollToPlugin.min.js"></script>

	<!-- project js -->
	{% if USE_STATIC_JS == true %}
		<!-- use static compiled js -->
		<script src="{{PATH_TO_STATIC_ASSETS}}/js/hlc-compiled.js"></script>
	{% else %}
		<!-- use developemnt js -->
		<script src="http://localhost:9810/compile?id=hlc-portfolio&mode={{COMPILE_MODE}}"></script>
	{% endif %}
	

	<!-- execute the main js-->
	<script>
		document.body.style.visibility = 'visible';
		//document.body.style.opacity = 0.05;
		hlc.main();
	</script>
</body>
</html>
