{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% if craft.request.getQuery('staticjs') == 'true' or 'local' not in craft.request.serverName %}
	{% set USE_STATIC_JS = true %}
{% else %}
	{% set USE_STATIC_JS = false %}
{% endif %}

{% set COMPILE_MODE = "SIMPLE" %}
{% set SERVER_PATH = "http://"~craft.request.serverName~"/" %}
{% set PATH_TO_STATIC_ASSETS = SERVER_PATH~"assets/static" %}
{% set PATH_TO_PHP = SERVER_PATH~"php" %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="keywords" content="{{ meta.metaKeywords }}">
	<meta name="description" content="{{ meta.metaDescription }}">

	<meta content="{{ SERVER_PATH }}" property="og:url">
	<meta content="{{ siteName }}" property="og:title">
	<meta content="{{ meta.metaDescription }}" property="og:description"/>
	<meta content={% if meta.facebookImage|length > 1 %}"{{ meta.facebookImage[0].url }}"{% else %}"{{PATH_TO_STATIC_ASSETS}}/images/miscellaneous/facebook.png"{% endif %} property="og:image">

	<title>{{ siteName }}</title>

	<link rel="apple-touch-icon" href=
		{% if meta.iconIphone|length > 1 %}
			"{{ meta.iconIphone[0].url }}"
		{% else %}
			"{{PATH_TO_STATIC_ASSETS}}/images/miscellaneous/icon-iphone.png"
		{% endif %}>

	<link rel="apple-touch-icon" sizes="72x72" href=
		{% if meta.iconIpad|length > 1 %}
			"{{ meta.iconIpad[0].url }}"
		{% else %}
			"{{PATH_TO_STATIC_ASSETS}}/images/miscellaneous/icon-ipad.png"
		{% endif %}>

	<link rel="apple-touch-icon" sizes="114x114" href=
		{% if meta.iconIphoneRetina|length > 1 %}
			"{{ meta.iconIphoneRetina[0].url }}"
		{% else %}
			"{{PATH_TO_STATIC_ASSETS}}/images/miscellaneous/icon-iphone4.png"
		{% endif %}>

	<link rel="apple-touch-icon" sizes="144x144" href=
		{% if meta.iconIpadRetina|length > 1 %}
			"{{ meta.iconIpadRetina[0].url }}"
		{% else %}
			"{{PATH_TO_STATIC_ASSETS}}/images/miscellaneous/icon-ipad3.png"
		{% endif %}>

	<link rel="shortcut icon" href="{{PATH_TO_STATIC_ASSETS}}/images/miscellaneous/favicon.ico">
	<link rel="stylesheet" type="text/css" href="{{PATH_TO_STATIC_ASSETS}}/css/main.css">
</head>

<body>
	<script>
		document.body.style.visibility = 'hidden';
	</script>

	<!-- facebook like button -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<!-- end -->

	<!-- twitter button -->
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	<!-- end -->

	<!-- google +1 button -->
	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
	<!-- end -->

	<div id="main-container">

		<div class="viewport">

			{% include "_includes/preloader" %}

			<div id="main-scroller">

				<div id="main-hud">
					{% include "_includes/playlist" %}

					<div class="top">
						<div class="playlistButtonContainer">
							{% include "_common/triangle-button" with {text: 'playlist', classes: 'playlistButton downwards'} %}
							{% include "_common/triangle-button" with {text: 'close<i></i>', classes: 'playlistCloseButton downwards black', hideArrow: true} %}
						</div>
					</div>

					<div class="right">
						{% include "_common/triangle-button" with {text: 'info', classes: 'sidebarButton leftwards'} %}
					</div>
					
					<div class="bottom hide">
						{% include "_common/triangle-button" with {text: '', classes: 'homeButton upwards'} %}
						{% include "_includes/media-player" %}
					</div>
				</div>

				<div class="viewport">
					{% block content %}
					{% endblock %}
				</div>

			</div>

			<div id="sidebar">
				<div class="content"></div>
				{% include "_includes/sidebar-close-button" %}
			</div>
			
			<div id="footer">
				<div id="credits">
					<h3>credits<div class="expandButton upwards"></div></h3>
					<div class="outer">
						<ul class="inner">
							<li data-id="photography">
								<h5>photography</h5>
								<p></p>
							</li>
							<li data-id="developer">
								<h5>web design & development</h5>
								<p><a href="mailto:joe@joeonmars.com">Joe Zhou</a> &sdot; <a href="http://www.joeonmars.com/" target="_blank"><i class="icon-joeonmars"></i>joeonmars.com</a></p>
							</li>
							<li data-id="executive">
								<h5>executive & design support</h5>
								<p><a href="">Calvin Cui</a></p>
							</li>
						</ul>
					</div>
				</div>
				<div id="like-buttons">
					<div class="fb-like" data-href="{{ SERVER_PATH }}" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ SERVER_PATH }}" data-count="none">Tweet</a>
					<div class="g-plusone" data-size="medium" data-annotation="none" data-width="120"></div>
				</div>
				<div id="copyright">
					Copyright &copy; {{ now.year }} <a href="mailto:{{ contact.emailAddress }}">Hsin-Lei Chen</a>, All rights reserved
				</div>
			</div>

		</div>

	</div>

	<!-- third-party -->
	<script src="{{PATH_TO_STATIC_ASSETS}}/js/third-party/modernizr-latest.js"></script>
	<script src="{{PATH_TO_STATIC_ASSETS}}/js/third-party/paper-full.min.js"></script>
	<script src="{{PATH_TO_STATIC_ASSETS}}/js/third-party/greensock/TweenMax.min.js"></script>
	<script src="{{PATH_TO_STATIC_ASSETS}}/js/third-party/greensock/plugins/ScrollToPlugin.min.js"></script>

	<!-- project js -->
	{% if USE_STATIC_JS == true %}
		<!-- use static compiled js -->
		<script src="{{PATH_TO_STATIC_ASSETS}}/js/hlc-compiled.js"></script>
	{% else %}
		<!-- use developemnt js -->
		<script src="http://localhost:9810/compile?id=hlc-portfolio&mode={{COMPILE_MODE}}"></script>
	{% endif %}
	

	<!-- execute the main js-->
	<script>
		document.body.style.visibility = 'visible';
		//document.body.style.opacity = 0.05;
		hlc.main();
	</script>
</body>
</html>
