{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% if craft.request.getQuery('staticjs') == 'true' or 'local' not in craft.request.serverName %}
	{% set USE_STATIC_JS = true %}
{% else %}
	{% set USE_STATIC_JS = false %}
{% endif %}

{% set COMPILE_MODE = "SIMPLE" %}
{% set PATH_TO_STATIC_ASSETS = siteUrl~"assets/static" %}
{% set PATH_TO_UPLOAD_ASSETS = siteUrl~"assets/upload" %}
{% set PATH_TO_PHP = siteUrl~"/php" %}

{% extends "_global" %}

{% block html %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="{{ meta.metaKeywords }}">
	<meta name="description" content="{{ meta.metaDescription }}">

	<meta content="{{ meta.metaUrl }}" property="og:url">
	<meta content="{{ meta.metaTitle }}" property="og:title">
	<meta content="{{ meta.metaDescription }}" property="og:description">
	<meta content={% if meta.shareImage|length > 1 %}"{{ meta.shareImage[0].url }}"{% else %}"{{ meta.metaImage }}"{% endif %} property="og:image">

	<title>{{ siteName }}</title>

	<link rel="apple-touch-icon" href=
		{% if meta.iconIphone|length > 1 %}
			"{{ meta.iconIphone[0].url }}"
		{% else %}
			"{{PATH_TO_STATIC_ASSETS}}/images/misc/icon-iphone.png"
		{% endif %}>

	<link rel="apple-touch-icon" sizes="72x72" href=
		{% if meta.iconIpad|length > 1 %}
			"{{ meta.iconIpad[0].url }}"
		{% else %}
			"{{PATH_TO_STATIC_ASSETS}}/images/misc/icon-ipad.png"
		{% endif %}>

	<link rel="apple-touch-icon" sizes="114x114" href=
		{% if meta.iconIphoneRetina|length > 1 %}
			"{{ meta.iconIphoneRetina[0].url }}"
		{% else %}
			"{{PATH_TO_STATIC_ASSETS}}/images/misc/icon-iphone4.png"
		{% endif %}>

	<link rel="apple-touch-icon" sizes="144x144" href=
		{% if meta.iconIpadRetina|length > 1 %}
			"{{ meta.iconIpadRetina[0].url }}"
		{% else %}
			"{{PATH_TO_STATIC_ASSETS}}/images/misc/icon-ipad3.png"
		{% endif %}>

	<link rel="shortcut icon" href="{{PATH_TO_STATIC_ASSETS}}/images/misc/favicon.ico">
	<link rel="stylesheet" type="text/css" href="{{PATH_TO_STATIC_ASSETS}}/css/main.css">
</head>

<body>
	<script>
		document.body.style.visibility = 'hidden';
	</script>

	<div id="main-container">

		<div class="viewport">

			{% include "_includes/preloader" %}

			<div id="main-scroller">

				<div id="main-hud">
					{% include "_includes/playlist" %}

					<div class="top">
						<div class="playlistButtonContainer">
							{% include "_common/triangle-button" with {text: 'playlist', classes: 'playlistButton downwards'} %}
							{% include "_common/triangle-button" with {text: 'close<i></i>', classes: 'playlistCloseButton downwards black', hideArrow: true} %}
						</div>
					</div>

					<div class="right">
						{% include "_common/triangle-button" with {text: 'info', classes: 'sidebarButton leftwards'} %}
					</div>
					
					<div class="bottom hide">
						{% include "_includes/media-player" %}
					</div>
				</div>

				<div id="credits">
					<div class="background"></div>
					<div class="portrait"></div>
					<div class="content">
						<div class="content-inner">
							<header>
								<hr class="top">
								<h3>{{ COPY.credits }}</h3>
								<button class="close icon-close"></button>
								<hr class="bottom">
							</header>
							<ul class="members">
							{%- for member in credits.members -%}
								<li>
									<h4>{{ COPY[member.role] }}</h4>
									<div {%if member.url|length %}class="has-link"{% endif %}>
										<p>{{ member.name }}</p>
										{%if member.url|length %}
										<a href="{{ member.url }}" target="_blank">{{ member.url }}</a>
										{% endif %}
									</div>
								</li>
							{%- endfor -%}
							</ul>
							<hr class="divider">
							<p class="copyright">{{ credits.copyright }}</p>
						</div>
					</div>
				</div>

				<div class="viewport">
					{% block content %}
					{% endblock %}
				</div>

			</div>

			<div id="sidebar">
				<div class="outer">
					<div class="content"></div>
				</div>
				{% include "_includes/sidebar-close-button" %}
				{% include "_common/scrollbar" %}
			</div>
			
			<div id="footer">
				<div class="copyright">{{ credits.copyrightShort }}</div>
			</div>

		</div>

	</div>

	<!-- third-party -->
	<script src="{{PATH_TO_STATIC_ASSETS}}/js/third-party/paper-full.min.js"></script>
	<script src="{{PATH_TO_STATIC_ASSETS}}/js/third-party/greensock/plugins/ScrollToPlugin.min.js"></script>
	<script src="{{PATH_TO_STATIC_ASSETS}}/js/third-party/greensock/plugins/ThrowPropsPlugin.min.js"></script>
	<script src="{{PATH_TO_STATIC_ASSETS}}/js/third-party/greensock/utils/Draggable.min.js"></script>
	<script src="{{PATH_TO_STATIC_ASSETS}}/js/third-party/greensock/TweenMax.min.js"></script>

	<!-- project js -->
	{% if USE_STATIC_JS == true %}
		<!-- use static compiled js -->
		<script src="{{PATH_TO_STATIC_ASSETS}}/js/hlc-compiled.js"></script>
	{% else %}
		<!-- use developemnt js -->
		<script src="http://localhost:9810/compile?id=hlc-portfolio&mode={{COMPILE_MODE}}"></script>
	{% endif %}
	

	<!-- execute the main js-->
	<script>
		document.body.style.visibility = 'visible';
		hlc.main();
	</script>
</body>
</html>

{% endblock %}