{#
 # Homepage template
 # ---------------
 #
 # This template gets loaded whenever someone access http://example.com
 # with no URI, because it’s located in the root of your craft/templates/
 # folder and it’s called index.html. Simple.
 #}

{% extends "_layout" %}

{% block content %}

	<div class="masthead section">
		<div class="colorOverlay"></div>

		<div class="hud">
			<ul class="nav">
				<li>{% include "_includes/diamond-button" with {text: 'home', dataUrl: 'home'} %}</li>
				<li>{% include "_includes/diamond-button" with {text: 'biography', dataUrl: 'biography'} %}</li>
				<li>{% include "_includes/diamond-button" with {text: 'awards', dataUrl: 'awards'} %}</li>
				<li>{% include "_includes/diamond-button" with {text: 'contact', dataUrl: 'contact'} %}</li>
			</ul>
		</div>

		<div class="marquee">
			<div class="hide">
				<div class="heading">
					<h2>home</h2>
					<h2>biography</h2>
					<h2>awards</h2>
					<h2>contact</h2>
				</div>
				<a href="/resume.pdf">{% include "_includes/rectangle-button" with {text: 'download resume'} %}</a>
			</div>
		</div>

		<div class="pages">
			{% include "_includes/home" %}
			{% include "_includes/biography" %}
			{% include "_includes/awards" %}
			{% include "_includes/contact" %}
		</div>
		
		<div class="bottom">
			<div class="albumButton triangleButton upwards"></div>
		</div>
	</div>

	<div id="album-scroller">
		{% for album in craft.entries.section('album').find() %}
			<div class="album section" data-id="{{ album.slug }}">

				<div class="background">
					<div></div>
					<div></div>
					<div class="colorOverlay gradientOverlay"></div>
					<div class="colorOverlay loaderOverlay"></div>
				</div>

				<div class="centerColumn">
					<div class="content">
						<h3>album</h3>
						<h4>{{ album.title }}</h4>

						<h3>songs</h3>
						{% include "_includes/album-player" with { songs: album.songs } %}
					</div>
				</div>
				
			</div>
		{% endfor %}
	</div>

{% endblock %}