{#
 # Homepage template
 # ---------------
 #
 # This template gets loaded whenever someone access http://example.com
 # with no URI, because it’s located in the root of your craft/templates/
 # folder and it’s called index.html. Simple.
 #}

{% extends "_layout" %}

{% block content %}

	<div class="masthead section">
		<div class="pages">
			{% include "_includes/home" %}
		</div>
		
		<div class="albumButton triangleButton upwards"></div>
	</div>

	<div id="album-scroller">
		{% for entry in craft.entries.section('album').find() %}
			<div class="album section">

				{% for song in entry.songs %}
					<div class="background">
							{% for cover in song.cover %}
								<div style="background-image:url( {{cover.url}} );"></div>
			    		{% endfor %}
					</div>
				{% endfor %}

				<div class="content">
					<a href="{{ entry.url }}">{{ entry.title }}</a>
					{% include "_includes/song-shuffler" with { songs: entry.songs } %}
				</div>
				
			</div>
		{% endfor %}
	</div>

{% endblock %}