{#
 # Share Page
 # ---------------
 #
 # This is the landing page when a share link is opened
 # via social platform. The page exists as a placeholder of link specific sharing meta.
 # It redirects back to the main site.
 #}


{% set PATH_TO_STATIC_ASSETS = siteUrl~"assets/static" %}
{% set PATH_TO_UPLOAD_ASSETS = siteUrl~"assets/upload" %}

{% set albumSlug = craft.request.segments[2] %}
{% set albumEntry = craft.entries.section('album').slug(albumSlug).find()[0] %}

{% set songSlug = craft.request.segments[3] %}
{% set songEntry = craft.entries.section('song').slug(songSlug).find()[0] %}

{% set shareImageTransform = {
    width: 154,
    height: 154,
	mode: 'crop',
    position: 'center-center'
} %}

{% set shareImageUrl = albumEntry.cover[0].getUrl(shareImageTransform) %}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="keywords" content="{{ meta.metaKeywords }}">
	<meta name="description" content="{{ meta.metaDescription }}">

	<meta content="{{ craft.request.url }}" property="og:url">
	<meta content="{{ meta.metaSongTitle|replace({'%song%': songEntry.title|capitalize}) }}" property="og:title">
	<meta content="{{ meta.metaSongDescription|replace({'%song%': songEntry.title|capitalize, '%album%': albumEntry.title|capitalize}) }}" property="og:description">
	<meta content="{{ siteUrl }}{{ shareImageUrl }}" property="og:image">

	<title>{{ siteName }}</title>

	<link rel="shortcut icon" href="{{PATH_TO_STATIC_ASSETS}}/images/misc/favicon.ico">
</head>

<body>
	<img id="image" style="visibility: hidden;" src="{{ siteUrl }}{{ shareImageUrl }}">

	<script>
		var image = document.getElementById('image');
		image.addEventListener('load', function() {
			var url = document.location.href.replace('/share/', '/');
			document.location.href = url;
		});
	</script>
</body>
</html>