{% set SERVER_PATH = "http://"~craft.request.serverName~"/" %}

{
	"albums": {
		{% for album in craft.entries.section('album').find() %}
		"{{ album.slug }}": {
			"title": "{{ album.title }}",
			"cover": "{{ SERVER_PATH }}{{ album.cover[0].url }}",
			"songs": {
				{% for song in album.songs %}
				"{{ song.slug }}": {
					"id": "{{ song.slug }}",
					"title": "{{ song.title }}",
					"artwork": [
						{% for artwork in song.artwork %}
							{
								"url": "{{ SERVER_PATH }}{{ artwork.url }}",
								"copyright": {
									{% if artwork.authorName|length > 1 %}
									"authorName": "{{artwork.authorName}}",
									"authorUrl": "{{artwork.authorUrl}}",
									{% endif %}
									{% if artwork.workTitle|length > 1 %}
									"workTitle": "{{artwork.workTitle}}",
									"workUrl": "{{artwork.workUrl}}"
									{% endif %}
								}
							}{{ loop.last ? "" : "," }}
						{% endfor %}
					],
					"assets": [
						{% for audio in song.audio %}
						"{{ SERVER_PATH }}{{ audio.url }}"{{ loop.last ? "" : "," }}
						{% endfor %}
					],
					"audioData": "{{ SERVER_PATH }}{{ song.audioData[0].url }}"
				}{{ loop.last ? "" : "," }}
				{% endfor %}
			}
		}{{ loop.last ? "" : "," }}
		{% endfor %}
	},
	"contact": {
		"emailOwner": "{{ contact.emailOwner }}",
		"emailAddress": "{{ contact.emailAddress }}"
	}
}