{
	"albums": {
		{% for album in craft.entries.section('album').find() %}
		"{{ album.slug }}": {
			"title": "{{ album.title }}",
			"cover": "{{ album.cover[0].url }}",
			"songs": {
				{% for song in album.songs %}
				"{{ song.slug }}": {
					"id": "{{ song.slug }}",
					"title": "{{ song.title }}",
					"artwork": [
						{% for artwork in song.artwork %}
							{
								"url": "{{artwork.url}}",
								"copyright": {
									{% if artwork.authorName|length > 1 %}
									"authorName": "{{artwork.authorName}}",
									"authorUrl": "{{artwork.authorUrl}}",
									{% endif %}
									{% if artwork.workTitle|length > 1 %}
									"workTitle": "{{artwork.workTitle}}",
									"workUrl": "{{artwork.workUrl}}"
									{% endif %}
								}
							}{{ loop.last ? "" : "," }}
						{% endfor %}
					],
					"assets": [
						{% for audio in song.audio %}
						"{{audio.url}}"{{ loop.last ? "" : "," }}
						{% endfor %}
					]
				}{{ loop.last ? "" : "," }}
				{% endfor %}
			}
		}{{ loop.last ? "" : "," }}
		{% endfor %}
	}
}