{% set tabletArtworkTransform = {
    width: 1024,
    height: 1024,
    mode: 'fit'
} %}

{
	"albums": {
		{% for album in craft.entries.section('album').find() %}
		{% set cover = album.cover[0] %}
		"{{ album.slug }}": {
			"title": "{{ album.title }}",
			"cover": {
				"authorName": "{{cover.authorName}}",
				"authorUrl": "{{cover.authorUrl}}",
				"url": {
					"highRes": "{{ siteUrl }}{{ cover.url }}",
					"lowRes": "{{ siteUrl }}{{ cover.getUrl(tabletArtworkTransform) }}"
				}
			},
			"songs": {
				{% for song in album.songs %}
				"{{ song.slug }}": {
					"id": "{{ song.slug }}",
					"title": "{{ song.title }}﻿",
					"artwork": [
						{% for artwork in song.artwork %}
							{
								"authorName": "{{artwork.authorName}}",
								"authorUrl": "{{artwork.authorUrl}}",
								"url": {
									"highRes": "{{ siteUrl }}{{ artwork.url }}",
									"lowRes": "{{ siteUrl }}{{ artwork.getUrl(tabletArtworkTransform) }}"
								}
							}{{ loop.last ? "" : "," }}
						{% endfor %}
					],
					"assets": [
						{% for audio in song.audio %}
						"{{ siteUrl }}{{ audio.url }}"{{ loop.last ? "" : "," }}
						{% endfor %}
					],
					"audioData": "{{ siteUrl }}{{ song.audioData[0].url }}"
				}{{ loop.last ? "" : "," }}
				{% endfor %}
			}
		}{{ loop.last ? "" : "," }}
		{% endfor %}
	},
	"contact": {
		"emailOwner": "{{ contact.fullName }}",
		"emailAddress": "{{ contact.email }}"
	}
}